[submodule "external/glew-cmake"]
	path = external/glew-cmake
	url = git@github.com:Perlmint/glew-cmake.git
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/math137"]
	path = external/math137
	url = git@github.com:adamowski137/math137.git
[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
